body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  /* 这个属性只用于iOS (iPhone和iPad)。当你点击一个链接或者通过Javascript定义的可点击元素的时候，它就会出现一个半透明的灰色背景 */
  -webkit-tap-highlight-color: transparent;
  font-family: PingFang SC, Arial, Microsoft YaHei, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #161e27;
}

img {
  vertical-align: middle;
}

body,
button,
input,
select,
textarea {
  font-family: PingFang SC, Arial, Microsoft YaHei, sans-serif;
  color: #4a4a4a;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* <small> 标签呈现小号字体效果 */
small {
  font-size: 12px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* abbr标签指示简称或缩写 */
/* <acronym> 标签定义首字母缩写,HTML5 中不支持 <acronym> 标签。请使用 <abbr> 标签代替。 */
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

q:before,
q:after {
  content: '';
}

legend {
  color: #000;
}

fieldset,
img {
  border: none;
}

img {
  height: auto;
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
}

button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
  border: 0;
}

input:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

.unselectable {
  user-select: none;
}
/* 被水平线分隔的标题和段落 */
hr {
  border: none;
  height: 1px;
}

.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*—滚动条默认显示样式–*/

body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
}
